<p id="notice"><%= notice %></p>

<p>
  <strong>Make and model:</strong>
  <%= @vehicle.make_and_model %>
</p>

<p>
  <strong>Type:</strong>
  <%= @vehicle.type %>
</p>

<p>
  <strong>Characterid:</strong>
  <%= @vehicle.characterID %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
